@model AddOrderViewModel

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>
<div class="text-danger" asp-validation-summary="All"></div>
<form method="post" asp-action="Checkout">
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <label>Line 1:</label>
        <input class="form-control" asp-for="AddressLine1" />
    </div>
    <div class="form-group">
        <label>Line 2:</label>
        <input class="form-control" asp-for="AddressLine2" />
    </div>
    <div class="form-group">
        <label>Line 3:</label>
        <input class="form-control" asp-for="AddressLine3" />
    </div>
    <div class="form-group">
        <label>City:</label>
        <input class="form-control" asp-for="City" />
    </div>
    <div class="form-group">
        <label>State:</label>
        <input class="form-control" asp-for="State" />
    </div>
    <div class="form-group">
        <label>Zip:</label>
        <input class="form-control" asp-for="Zip" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <input class="form-control" asp-for="Country" />
    </div>
    <h3>Options</h3>
    <div class="form-group form-check">
        <input class="form-check-input" asp-for="GiftWrap" />
        <label class="form-check-label">Gift wrap these items</label>
    </div>
    <div class="text-center mb-3">
        <button class="btn btn-primary" type="submit">Complete order</button>
    </div>
</form>
