@model IEnumerable<string>

<a class="btn btn-secondary btn-block" asp-action="List" asp-controller="Product" asp-route-category="">Home</a>
@foreach (var category in Model)
{
    <a class="btn @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary") btn-block"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category">
        @category
    </a>
}
